.sidebar{
    position: fixed;
    background-color: rgb(56, 56, 56);
    top: 70px;
    left: 0;
    bottom: 0;
    width: 90px;

}

.sidebar-link{
    height: 90px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: gray;
}

.sidebar-link img{
    height: 40px;
    margin-bottom: 5px;
}

.sidebar-link div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
}